@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root{
    --green:#27ae60;
    --black:#192a56;
    --red:#ef233c;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1)
}
*{
    font-family: 'Crimson Text', serif;
    margin: 0;
    padding: 0;box-sizing: border-box;
    text-decoration: none;
    outline: none;border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    
}
html{
    font-size: 70%;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;
}

section:nth-child(even){
    background: #eee;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#000000;
    background:#e7d8c9;
    border-radius: 5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover{
    background: #1982c4;
    letter-spacing: .1rem;
}
    


header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: url(images/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-concrete.jpg);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index:1000;
    box-shadow: var(--box-shadow);
}


header .logo{
    color: red;
    font-size: 2.5rem;
    font-weight: bolder;
}


header .logo i{
    color: #fec107;
    height: auto;
}


header .navbar a{
    font-size: 1.7rem;
    border-radius: 5rem;
    padding: 5rem 1.5rem;
    color: #ff5400;
}


header .navbar a.active,
header .navbar a:hover{
    color: #ff5400;
    background: #aaf683;
}



header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #023e8a;
    border-radius: 50%;
    background: #ee9b00;
}



header .icons i:hover,
header .icons a:hover{
    color: #fff;
    background: red;
    transform: rotate(360deg);
}


header .icons #menu-bars{
    display: none;
}


#search-form{
    position: fixed;
    top:-110%; left:0;
    height: 100%; width: 100%;
    z-index: 1004;
    background: #f7e3af;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
    opacity: 90%;
}


#search-form.active{
    top: 0;
}
#search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid #1d3557;
    padding: 1rem 0;
    color: #25a244;
    font-size: 3rem;
    text-transform: none;
    background: none;

}

#search-form #search-box::placeholder{
    color: #9d0208;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
#search-form label{
    color: #9d0208;
    cursor: pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color: #25a244;
}

#search-form #close{
    position: absolute;
    color: #9d0208;
    cursor: pointer;
    top: 2rem; right: 3rem;
    font-size: 5rem;
}


.home .home-slider .slider{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
    
}

.home .home-slider .slider .content{
    flex: 1 1 45rem;
}

.home .home-slider .slider .image{
    flex: 1 1 45rem;
}

.home .home-slider .slider .image img{
    width: 100%;
}

.home .home-slider .slider .content span{
    color: #03045e;
    font-size: 2.5rem;
}

.home .home-slider .slider .content h3{
    color: #d00000;
    font-size: 5rem;
}

.home .home-slider .slider .content p{
    color: black;
    font-size: 2rem;
    padding: 5rem 0;
   
}
.home {
    background:url(images/22536178_15202.jpg);
    background-size: cover;
}

.swiper-pagination-bullet-active{
    background: #d90429;
}

.sub-heading{
    text-align: center;
    color: #003d5b;
    font-size: 3rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color: #ba181b;
    font-size: 4rem;
    padding-bottom: 2rem;
}
.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(28rem,1fr));
    gap: 1.5rem;
}

#dishes{
    background: url(images/15206849_10.jpg);
    background-size: cover
}
.dishes .box-container .box{
    padding: 2.5rem;
    background:url(images/1256875_6530.jpg);
    background-size: cover;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye{
    position: absolute;
    top: 1.5rem;
    background: #eee;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);

}
.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover{
    background: #457b9d;
    color: #fff;
}


.dishes .box-container .box .fa-heart{
    right: -15rem;
}
.dishes .box-container .box .fa-eye{
    left: -15rem;
}

.dishes .box-container .box:hover .fa-heart{
    right: 1.5rem;
}
.dishes .box-container .box:hover .fa-eye{
    left: 1.5rem;
}


.dishes .box-container .box img{
    height: 17rem;
    margin: 1rem 0;
}

.dishes .box-container .box h3{
    color: black;
    font-size: 2.5rem;
}

.dishes .box-container .box .stars{
    color: goldenrod;
    font-size: 1.5rem;
}


.dishes .box-container .box .stars{
    padding: 1rem 0;
}

.dishes .box-container .box .stars .i{
    font-size: 1.7rem;
    color:gold;
}

.dishes .box-container .box span{
    color: #3a0ca3;
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}

.about{
    background: url(images/hand-painted-watercolor-background-with-sky-clouds-shape.jpg);
    background-size: cover;
}
.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;

}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{ 
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color:var(--black);
    font-size: 4rem;
    padding:.5rem 0;
}

.about .row .content p{
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
   
}

.about .row .content .icons-container{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    padding:1rem 0;
    margin-top: .5rem;
}


.about .row .content .icons-container .icons{
    background:#eee;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex:1 1 17rem;
    padding:1.5rem 1rem;
}

.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color:#219ebc;
}

.about .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color:var(--black);
}

#menu{
    background: url(images/hand-painted-watercolor-background.jpg);
    background-size: cover;
}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}


.menu .box-container .box{
    background: url(images/1256875_6530.jpg);
    background-size: cover;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);    
}

.menu .box-container .box .image{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.menu .box-container .box .image .fa-heart{
    position: absolute;
    top:2.5rem; right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color:var(--black);
}

.menu .box-container .box .image .fa-heart:hover{
    background-color:#e36414;
    color:#fff;
}

.menu .box-container .box .content{
    padding:2rem;
    padding-top: 0;
}

.menu .box-container .box .content .stars{
    padding-bottom: 1rem;
    
}

.menu .box-container .box .content .stars i{
    font-size: 1.7rem;
    color:goldenrod;
    text-align: center;
 }
 
 .menu .box-container .box .content h3{
    color:black;
    font-size: 2.5rem;
}



.menu .box-container .box .content .price{
    color:#3a0ca3;
    margin-left: 1rem;
    font-size: 2.5rem;
}
#order{
    background: url(images/hand-painted-abstract-background-watercolors-paper-texture.jpg);
    background-size: cover;
}
.order form{
    max-width:95rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:.1rem solid rgba(0,0,0,.2);
    background:#34a0a4;
    padding:1.5rem;
    margin:0 auto;
}

.order form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order form .inputBox .input{
    width:49%;
}

.order form .inputBox .input span{
    display:block;
    padding:.5rem 0;
    font-size: 1.8rem;
    font-weight: bold;
    color:black;
}

.order form .inputBox .input input,
.order form .inputBox .input textarea{
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.5rem;
    color:var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width:100%;
}

.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus{
    border:.1rem solid red;
}

.order form .inputBox .input textarea{
    height:20rem;
    resize: none;
}

.order form .button{
    margin-top: 0;
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#000000;
    background:#ee9b00;
    border-radius: 5rem;
    cursor: pointer;
    padding: .8rem 3rem;
    text-align: center;
    margin-left: 43%;
}

.order form .button:hover{
    background: #1982c4;
    letter-spacing: .1rem;
}
 
#footer{
    background: url(images/pexels-francesco-ungaro-998641.jpg);
    background-size: cover;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    padding:.5rem 0;
    font-size: 2.5rem;
    color:#e36414;
}

.footer .box-container .box a{
    display: block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color:#fdfcdc;
    text-transform: lowercase;
}

.footer .box-container .box a:hover{
    color:red;
    text-decoration: underline;
}

.footer .box-container .box-1 h3{
    padding:.5rem 0;
    font-size: 2.5rem;
    color:#e36414;
    text-align: right;
}
.footer .box-container .box-1 a{
    display: block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color:#fdfcdc;
    text-align: right;
}

.footer .box-container .box-1 a:hover{
    color:red;
    text-decoration: underline;
}
.modify-logo{
    text-align: center;
    font-size: 5rem;
    padding-top: 10%;
    font-weight: bolder; 
}
.modify-logo a{
    color: red;
}
.modify-logo i{
    color: #fec107;
}
.footer .credit{
    text-align: center;
    border-top: .1rem solid white;
    font-size: 2rem;
    color:whitesmoke;
    padding:.5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span{
    color:#34a0a4;
}






























































@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    header{
        padding:1rem 2rem;
    }

    section{
        padding:2rem;
    }


}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }

    #search-form #search-box{
        width:90%;
        margin:0 1rem;
    }

    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .dishes .box-container .box img{
        height:auto;
        width: 100%;
    }

    .order form .inputBox .input{
        width:100%;
    }

}


























































































